.input-container {
    display: flex;
    flex-direction: column;
}

.warn {
    color: firebrick;
}

.hidden {
    display: none;
}

.tables {
    display: flex;
    gap: 32px;
}

table {
    margin-top: 32px;
    border: 1px solid gray;
    padding: 16px;
    border-collapse: collapse;
}

#clients-table {
    height: fit-content;
}

.bold {
    font-weight: 700;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}