body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0px;
    padding: 4px;
    padding-bottom: 32px;
    box-sizing: border-box;
}

.payments-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.warn {
    color: firebrick;
}

.hidden {
    display: none;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

table {
    --padding: 16px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: var(--padding);
    border-collapse: collapse;
    min-width: calc(320px - var(--padding));
    max-width: 100vw;
    overflow-x: auto;
}

#clients-table {
    height: fit-content;
}

.bold {
    font-weight: 700;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Images */



.how-to-use img {
    max-width: 800px;
}

/* Layout */

.privacy-policy {
    margin-top: auto;
    margin-left: auto;
    margin-right: 16px;
    max-width: 400px;
}

.how-to-use {
    max-width: 500px;
    margin-top: auto;
}

footer {
    margin-top: auto;
    display:flex;
    justify-content: space-between;
}

/* Buttons */

button {
    width: fit-content;
}

/* Input */

input#conversion-rate {
    width: 8rem;
}

/* Forms */

form#options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 16px;
    width: fit-content;
}