body {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0px;
    padding: 4px;
    padding-bottom: 32px;
    box-sizing: border-box;
}

.payments-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.warn {
    color: firebrick;
}

.hidden {
    display: none;
}

.tables {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

table {
    --padding: 16px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: var(--padding);
    border-collapse: collapse;
    min-width: calc(320px - var(--padding));
}

#clients-table {
    height: fit-content;
}

.bold {
    font-weight: 700;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Buttons */

button {
    width: fit-content;
}

/* Input */

input#conversion-rate {
    width: 2rem;
}

/* Forms */

form#options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 16px;
    width: fit-content;
}